@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-12 site-banner-image">
    <div class="banner-overlay">
        <h1>311 City Services</h1><h3> </h3>
    </div>
    <img src="~/images/311.9.17.jpg" class="img-thumbnail" alt="Responsive image">
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Why does this site exist?</h2>
        <p>
            Our objective is to demonstrate a clear picture of the data that the Chicago 311 Incidents dataset provides, as
            well as extract important results and statistics.
            Specifically, we have discriminated, studied and analyzed a vast amount of data, using Spark and 
            we have tried to find a simple and understandable way to
            present the results of the data processing, yet we have also tried to be precise.
        </p>
    </div>
    <div class="col-md-6">
        <h2>How to use our site</h2>
        <ul>
            <li>Navigate through the navbar to the various queries that we have created</li>
            <li>Fill the search options and run them</li>
        </ul>
    </div>
</div>
